* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
backgroud-color:#ededed;
}
.heading_lg.text-success{
  font-size:37px;
  line-height:50px;
  font-family:Arial Black, Gadget, sans-serif;
}
#docs-internal-guid-e752fcb5-7fff-9570-ebd0-720053c5b5f9{
  font-weight:normal;
}
#i3xojl{
  font-size:31px;
  font-family:Arial;
  background-color:transparent;
  font-variant-numeric:normal;
  font-variant-east-asian:normal;
  vertical-align:baseline;
  white-space:pre-wrap;
  color:#000000;
}
.heading_md.text-success{
  color:#000000;
}
.heading_md{
  color:#61524e;
}
#il0kh{
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
}
#iraeh{
  padding:10px;
}
#i3n3f{
  padding:10px;
}
#ix5ie{
  padding:10px;
}
#iog2v{
  padding:0 10px 10px 10px;
  color:#61524e;
}
#i7hrd{
  padding:10px;
}
#ixo3i{
  padding:10px;
}
#ijsiz{
  padding:10px;
  color:#61524e;
}
#ib16a{
  padding:10px;
}
#i38me{
  font-size:24px;
  text-align:left;
  color:#61524e;
}
#i7q3z{
  font-size:24px;
  color:#61524e;
}
#i6sut{
  color:#61524e;
}
#i90a4f{
  font-size:24px;
  color:#284734;
}
.entry-title{
  color:#284734;
}
.blog_content_item{
  padding:0 0 15px 0;
}
#iqpx72{
  font-size:24px;
  color:#284734;
}
#izag64{
  padding:10px;
}
#i4s6iw{
  padding:10px;
}
#iypraq{
  font-size:24px;
  color:#284734;
}
#izi8yv{
  padding:10px;
}
#ieuw7n{
  font-size:16px;
}
#i806fl{
  padding:10px;
}
#iklnrl{
  padding:0 0 10px 0;
}
#blogMainWrapper{
  background-color:#ededed;
}
#iimgi{
  font-family:Arial, Helvetica, sans-serif;
}
#i1alq{
  color:#61524e;
}
#iz4ezi{
  color:#61524e;
  font-size:24px;
}
#iu9rvh{
  color:#61524e;
  font-size:24px;
}
#iod2mn{
  color:#61524e;
}
#navLinkArea{
  background-color:#ededed;
}
#iw8fjd{
  font-family:Arial, Helvetica, sans-serif;
}
#i8089y{
  font-family:Arial, Helvetica, sans-serif;
}
#i8w9tl{
  color:#61524e;
  font-size:24px;
}
#ijxgqk{
  font-size:16px;
}
#i1ffvj{
  font-size:24px;
  color:#284734;
}
#il0h37{
  padding:10px;
}
#iw967o{
  padding:0 0 0 0;
}
#i61tq8{
  padding:10px;
}
#ikw0jf{
  color:#61524e;
}
#isqgk1{
  padding:10px 0 0 0;
}
#i84pej{
  color:#61524e;
  font-size:24px;
}
#ir46to{
  font-size:16px;
}
#inakrl{
  font-size:24px;
  color:#284734;
}
#ia2lyj{
  padding:10px;
}
#i29jpq{
  padding:0 0 0 0;
}
#i3axab{
  padding:10px;
}
#iedi43{
  color:#61524e;
  font-size:24px;
}
#iefy8r{
  font-size:16px;
}
#io0fdk{
  font-size:24px;
  color:#284734;
}
#intmji{
  padding:10px;
}
#izz7rg{
  padding:0 0 0 0;
}
#ipjw8e{
  padding:10px;
}
#i7fi1x{
  color:#61524e;
}
#isedpb{
  padding:10px 0 0 0;
}
#i3q2eh{
  padding:10px 0 0 0;
}
#i38esb{
  padding:10px 0 0 0;
}
#blogMainWrapper {
    background-color: #ededed !important;
}